{% extends 'base.html.twig' %}

{% block body %}
	<div class="w-4/5 p-8 m-auto pt-40">
		<h1 class="sm:text-base text-3xl text-center pb-12">
			Contact Form
		</h1>

		{{ form_start(contactForm) }}

		{# Global form errors (e.g. CSRF) #}
		<div class="text-red-600 font-semibold mb-4">
			{{ form_errors(contactForm) }}
		</div>

		<div class="mb-6">
			{{ form_widget(contactForm.name) }}
			<p class="text-red-500 text-sm mt-2">{{ form_errors(contactForm.name) }}</p>

		</div>

		<div class="mb-6">
			{{ form_widget(contactForm.email) }}
			<p class="text-red-500 text-sm mt-2">{{ form_errors(contactForm.email) }}</p>
		</div>

		<div class="mb-6">
			{{ form_widget(contactForm.message) }}
    <p class="text-red-500 text-sm mt-2">{{ form_errors(contactForm.message) }}</p>
		</div>
	
		<button type="submit" class="uppercase mt-8 bg-blue-400 text-lg font-extrabold py-4 px-8 rounded-3xl hover:bg-blue-500 transition">
			send Message
		</button>

		{{ form_end(contactForm) }}
	</div>
{% endblock %}
